/* src/css/Sidebar.css */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #191919;
    color: white;
    padding-top: 60px; /* Espacio para que no se superponga con el navbar */
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    margin-bottom: 1rem;
}

.sidebar-nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

.sidebar-nav a:hover {
    background-color: #444;
}